body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

.frame-right {
    transform: rotate(180deg);

    user-select: none;
    position: absolute;

    margin: 0;
    padding: 0;

    right: 0;
    top: 0;

    font-size: 1.5em;
}

.frame-left {
    user-select: none;
    position: absolute;

    margin: 0;
    padding: 0;

    left: 0;
    bottom: 0;

    font-size: 1.5em;
}