.first-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInStar {
    0%, 80% {
        opacity: 0;
        rotate: -45deg;
    }


    100% {
        opacity: 1;
        rotate: 0deg;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        margin-bottom: 20px;
    }

    25% {
        margin-bottom: 40px;
    }

    50% {
        margin-bottom: 18px;
    }


    60% {
        margin-bottom: 25px;
    }

    75% {
        margin-bottom: 18px;
    }

    90% {
        margin-bottom: 22px;
    }

    95% {
        margin-bottom: 20px;
    }

    100% {
        transform: rotate(calc(360deg * 3));
        margin-bottom: 20px;
    }
}


.first-screen h1 {
    user-select: none;
    margin: 0;
    font-size: 3em;
    animation: fadeInText 2s;
}

.first-screen .star {
    user-select: none;
    margin-bottom: 20px;
    height: 25px;
    aspect-ratio: 1;
    filter: invert(90%) sepia(59%) saturate(521%) hue-rotate(325deg) brightness(104%) contrast(104%);
    color: yellow;
    font-size: 3em;
    transition: transform 0.5s;
    cursor: pointer;
}

.load-animation {
    animation: fadeInStar 1.5s;
}

.click-animation {
    animation: spin .8s ease-out;
}