<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title-screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/description.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/credits.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stars.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon-rounded.png') }}">
    <title>Insermius</title>
    <meta property="og:title" content="Insermius">
    <meta property="og:description" content="The official Insermius discord bot info page">
    <meta property="og:image" content="https://insermius.larssj.dev/static/img/icon-rounded.png">
    <meta property="og:url" content="https://insermius.larssj.dev/">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-TileColor" content="#000000">
</head>

<body>
    <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>
    <div class="first-screen">
        <h1 class="title">Insermius</h1><img class="star load-animation" src="{{ url_for('static', filename='img/star.svg') }}">
    </div>
    <div class="description" id="description">
        <div class="desc-text">
            <div class="frame-right">
                L
            </div>
            <div class="frame-left">
                L
            </div>
            <p>Hobby project bot, which will (hopefully) remain free for use.</p>
            <p>Currently undergoing major development overhaul</p>
            <p>Join the <a href="https://discord.gg/5nZVVedbqH">discord</a> <a href="https://discord.gg/5nZVVedbqH"><i class="fab fa-discord"></i></a>(pls)</p>
        </div>
        <div class="desc-connections">
            <div class="frame-right">
                L
            </div>
            <div class="frame-left">
                L
            </div>
            <a href="https://github.com/insermius-dev/insermius-bot" target="_blank"><div class="visible-text" id="git">Github<i class="fa fa-github"></i></div><p class="hidden-text">github.com/insermius-dev/insermius-bot</p></a>
            <a href="https://discord.gg/5nZVVedbqH" target="_blank"><div class="visible-text" id="disc">Discord<i class="fab fa-discord"></i></div><p class="hidden-text">discord.gg/5nZVVedbqH</p></a>
            <a href="https://www.ko-fi.com/pre1ude0" target="_blank"><div class="visible-text" id="kofi">Kofi<i class="fa-solid fa-heart"></i></div><p class="hidden-text">ko-fi.com/pre1ude0</p></a>
        </div>
    </div>
    <div class="credits"><h2>Made by</h2>
    <div class="container">
        <div class="contributor" id="founder">
            <div class="frame-right">
                L
            </div>
            <div class="frame-left">
                L
            </div>
            <img src="{{ developer.avatar_url }}" class="{{ developer.display_name }}">
            <p>{{ developer.display_name }}</p>
        </div>
    </div>
    <div class="container">
        {% for contributor in contributors %}
        <div class="contributor" id="{% if contributor.id == 240430740158939139 %}founder{% else %}contributor{% endif %}">
                    <div class="frame-right">
                L
            </div>
            <div class="frame-left">
                L
            </div>
            <img src="{{ contributor.avatar_url }}" class="{{ contributor.display_name }}">
            <p>{{ contributor.display_name }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="container">
    {% for helper in helpers %}
        <div class="contributor" id="helper">
                    <div class="frame-right">
                L
            </div>
            <div class="frame-left">
                L
            </div>
            <img src="{{ helper.avatar_url }}" class="{{ helper.display_name }}">
            <p>{{ helper.display_name }}</p>
        </div>
    {% endfor %}
    </div>

    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
