<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title-screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/description.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/credits.css') }}">
    <title>Insermius</title>
    <meta property="og:title" content="Larss_Bot">
    <meta property="og:description" content="The official webpage of the Larss_bot discord bot">
    <meta property="og:image" content="https://raw.githubusercontent.com/LarssJakobsons/Larss_Bot/master/resources/bg.png">
    <meta property="og:url" content="https://larssbot.onrender.com/">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#375BDC">
    <meta name="msapplication-TileColor" content="#375BDC">
</head>

<body>
    <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>
    <div class="first-screen">
        <h1 class="title">Insermius</h1><img class="star load-animation" src="{{ url_for('static', filename='img/star.svg') }}">
    </div>
    <div class="description">
        <div class="desc-text">
            <p>Hobby project bot, which will (hopefully) remain free for use.</p>
            <p>Currently undergoing major development overhaul</p>
            <p>Join the <a href="https://discord.gg/5nZVVedbqH">discord</a> <a href="https://discord.gg/5nZVVedbqH"><i class="fab fa-discord"></i></a> (pls)</p>
        </div>
    </div>
    <div class="credits"><h2>Developer</h2>
    <div class="container">
        <div class="contributor" id="founder">
            <img src="{{ developer.avatar_url }}" class="{{ developer.display_name }}">
            <p>{{ developer.display_name }}</p>
        </div>
    </div>
    <h2>Contributors</h2>
    <div class="container">
        {% for contributor in contributors %}
        <div class="contributor" id="contributor">
            <img src="{{ contributor.avatar_url }}" class="{{ contributor.display_name }}">
            <p>{{ contributor.display_name }}</p>
        </div>
        {% endfor %}
    </div>
    <h2>Helpers</h2>
    <div class="container">
    {% for helper in helpers %}
        <div class="contributor" id="helper">
            <img src="{{ helper.avatar_url }}" class="{{ helper.display_name }}">
            <p>{{ helper.display_name }}</p>
        </div>
    {% endfor %}
    </div>

    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
